* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #0D0D0D;
    --card-background: #1A1A1A;
    --primary-text: #FFFFFF;
    --secondary-text: #A0A0A0;
    --due-date-text: #CCCCCC;
    --accent: #A970FF;
    --border: #2A2A2A;
    --border-second: #333333;
    --completed-item: #666666;
    --default-form-margin: 10px;
}

html {
    font-size: 16px;
}

body {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--primary-text);
}

header,
main {
    width: 80%;
    margin: 20px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>h2 {
    display: block;
    width: auto;
    text-align: center;
    font-size: 1.3rem;
}

#new-project,
#new-task {
    box-shadow: 0px 0px 3px 1px var(--accent);
    color: var(--accent);
}

#prev-project,
#next-project {
    width: 70px;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav>#selected-project-title {
    width: calc(100% - 140px);
    padding: 0 5px;
    text-align: center;
}

button {
    padding: 5px;
    background-color: var(--border);
    color: var(--primary-text);
    border: 1px solid var(--border-second);
    border-radius: 5px;
}

#grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

#grid-wrapper>div {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--card-background);
}

#grid-wrapper>div>* {
    margin-bottom: var(--default-form-margin);
}

#grid-wrapper>div>button {
    margin-bottom: 0;
    float: right;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#grid-wrapper>.task-wrapper>div {
    margin-bottom: 0;
}

.left-wrapper {
    padding-right: 15px;
}

.left-wrapper>input[type="checkbox"]:checked::before {
    color: var(--accent)
}

.center-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.center-wrapper>p {
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.center-wrapper>.task-desc {
    margin-top: var(--default-form-margin);
    color: var(--secondary-text);
}

.subtask-wrapper {
    color: var(--secondary-text);
    margin-top: var(--default-form-margin);
}

.subtask-wrapper>input {
    margin-right: var(--default-form-margin);
}

.right-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    color: var(--secondary-text);
    font-size: 0.75rem;
}

.right-wrapper>:first-child {
    margin-bottom: 20px;
}

.right-wrapper>div>button {
    float: right;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]::before {
    display: block;
    height: 0.9rem;
    width: 0.9rem;
    content: '\2800';
    border-radius: 3px;
    background-color: var(--card-background);
    outline: 1px solid var(--border-second);
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    color: var(--completed-item);
    text-align: center;
    border-radius: 3px;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

#form {
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--card-background);
    color: var(--primary-text);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#form>label {
    margin-bottom: 5px;
    font-size: 0.85rem;
}

#form>input,
#form>textarea,
#form>#form-subtask-wrapper>input {
    margin-bottom: var(--default-form-margin);
    padding: 5px;
    font-size: 0.9rem;
    color: var(--primary-text);
    background-color: var(--card-background);
    border: 1px solid var(--border);
    border-radius: 5px;
}

#form>input,
#form>#form-subtask-wrapper>input {
    font-family: inherit;
}

#form>textarea {
    height: 80px;
    font-family: inherit;
    line-height: inherit;
    resize: none;
}

#form>input:focus,
#form>textarea:focus {
    outline: var(--accent);
    color: var(--primary-text);
}

#form>input::placeholder {
    color: var(--secondary-text);
}

#form>button:last-of-type {
    margin-top: var(--default-form-margin);
}

#form>#error-text {
    margin-top: var(--default-form-margin);
    color: var(--accent);
}

#form-subtask-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#form>#form-subtask-wrapper>input {
    width: 100%;
    margin-bottom: 0;
    margin-right: var(--default-form-margin);
}

.subtask-element-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--default-form-margin);
}

.subtask-element-wrapper>p {
    width: 100%;
}

.subtask-element-wrapper>button {
    width: 30px;
    height: 30px;
    padding: 0;
}

.task-priority {
    position: relative;
    min-width: 60px;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    outline: 1px solid var(--border);
    border-radius: 2px;
    background:
        linear-gradient(to right,
            #4CAF50,
            #FFC107,
            #FF0033);
    background-repeat: no-repeat;
    background-color: var(--background);
    overflow: hidden;
}

.task-priority::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    border-radius: 0 2px 2px 0;
    background-color: var(--background);
}

.priority-0::before {
    width: 100%;
}

.priority-1::before {
    width: 90%;
}

.priority-2::before {
    width: 80%;
}

.priority-3::before {
    width: 70%;
}

.priority-4::before {
    width: 60%;
}

.priority-5::before {
    width: 50%;
}

.priority-6::before {
    width: 40%;
}

.priority-7::before {
    width: 30%;
}

.priority-8::before {
    width: 20%;
}

.priority-9::before {
    width: 10%;
}

.priority-10::before {
    width: 0%;
}
