* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
}

nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

nav>#selected-project-title {
    flex-grow: 1;
    text-align: center;
}

button {
    padding: 5px;
}

#prev-project,
#next-project {
    width: 150px;
}

header,
main {
    width: 80%;
    margin: 10px auto;
}

#grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-element {
    width: 50%;
    height: 250px;
    background-color: black;
}
